
* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Roboto;
  }
h1{
    font-weight: 900;
    text-transform: uppercase;
}
#tabla-bodeguero{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 30px 30px;
}

table .header{
    background: rgb(62, 48, 63);
    color: #ffffff;
}

table tr td{
    text-align: center;
    width: 200px;

    border: solid   1px black;
}

td .tdButtom{
    background-color: rgb(62, 48, 63);
    text-decoration: none;
    color: white;

    width:50px;
    height: 50px;
}


td .tdButtomUp{
    background-color: #ff8e46;
    text-decoration: none;
    color: white;
    
    width:50px;
    height: 50px;
}

.tdButtomUp a{
    text-decoration: none;
    color: white;
}